/* 此图片做背景时不平铺;
repeat:平铺 
repeat-x:横向平铺 
repeat-y:纵向平铺 */
/* background: url(./img/bg.jpg) no-repeat; */

/* background-size: 属性规定背景图像的尺寸
length 设置背景图像的高度和宽度。 第一个值设置宽度，第二个值设置高度。 如果只设置一个值，则第二个值会被设置为 "auto"。
percentage 以父元素的百分比来设置背景图像的宽度和高度。 第一个值设置宽度，第二个值设置高度。 如果只设置一个值，则第二个值会被设置为 "auto"。
cover 把背景图像扩展至足够大，以使背景图像完全覆盖背景区域。 背景图像的某些部分也许无法显示在背景定位区域中。
contain 把图像图像扩展至最大尺寸，以使其宽度和高度完全适应内容区域。 */

/* position: 规定元素的定位类型。
absolute 生成绝对定位的元素，相对于 static 定位以外的第一个父元素进行定位。 元素的位置通过 "left", "top","right"以及 "bottom"属性进行规定。
fixed 生成绝对定位的元素，相对于浏览器窗口进行定位。 元素的位置通过 "left", "top", "right"以及 "bottom"属性进行规定
relative 生成相对定位的元素，相对于其正常位置进行定位。 因此，"left:20"会向元素的 LEFT 位置添加 20 像素。 
static 默认值 */
/* position: absolute;
top: 50%;
left: 50%; */

/* transform: 属性向元素应用 2D 或 3D 转换。该属性允许我们对元素进行旋转、缩放、移动或倾斜。 
translate(x, y) 定义 2D 转换。
translate3d(x, y, z)
*/

/* border-bottom: 设置一个声明中所有底部边框属性。 可以设置的属性分别（按顺序）：border-bottom-width, border-bottom-style, 和border-bottom-color.
dotted: 定义一个点线边框 
dashed: 定义一个虚线边框 
solid: 定义实线边框 
double: 定义两个边框。 两个边框的宽度和 border-width 的值相同 */

/* overflow: 定义溢出元素内容区的内容会如何处理
visible 默认值。内容不会被修剪，会呈现在元素框之外。 
hidden 内容会被修剪，并且其余内容是不可见的。 
scroll 内容会被修剪，但是浏览器会显示滚动条以便查看其余的内容。 
auto 如果内容被修剪，则浏览器会显示滚动条以便查看其余的内容。 
*/

/* float 属性定义元素在哪个方向浮动
left 元素向左浮动。 
right 元素向右浮动。 
none 默认值。元素不浮动，并会显示在其在文本中出现的位置 */

/* cursor: 属性规定要显示的光标的类型（形状）。
url 需使用的自定义光标的 URL。 注释：请在此列表的末端始终定义一种普通的光标，以防没有由 URL 定义的可用光标。 
default 默认光标（通常是一个箭头） 
auto 默认。浏览器设置的光标。
crosshair 光标呈现为十字线。
pointer 光标呈现为指示链接的指针（一只手） 
move 此光标指示某对象可被移动。 */

/* line-height: 行间距
number 设置数字，此数字会与当前的字体尺寸相乘来设置行间距。 
length 设置固定的行间距。 
% 基于当前字体尺寸的百分比行间距。 */

/* visibility: 属性规定元素是否可见。
visible 默认值。元素是可见的。 
hidden 元素是不可见的。 
collapse 当在表格元素中使用时，此值可删除一行或一列，但是它不会影响表格的布局。被行或列占据的空间会留给其他内容使用。如果此值被用在其他的元素上，会呈现为 "hidden"。 */
/* visibility: hidden; */

/* z-index: 属性设置元素的堆叠顺序。拥有更高堆叠顺序的元素总是会处于堆叠顺序较低的元素的前面。
auto 默认。堆叠顺序与父元素相等。 
number 设置元素的堆叠顺序。 */

/* text-align: 属性规定元素中的文本的水平对齐方式。
left 把文本排列到左边。默认值：由浏览器决定。 
right 把文本排列到右边。 
center 把文本排列到中间。 
justify 实现两端对齐文本效果。 */

/* @media: 针对不同的媒体类型定义不同的样式。
all 用于所有设备
print 用于打印机和打印预览
screen 用于电脑屏幕，平板电脑，智能手机等。 
speech 应用于屏幕阅读器等发声设备 */

/* display 属性规定元素应该生成的框的类型。
    none 此元素不会被显示。 
    block 此元素将显示为块级元素，此元素前后会带有换行符。 
    inline 默认。此元素会被显示为内联元素，元素前后没有换行符。 
    inline-block 行内块元素。(CSS2.1 新增的值)
    list-item 此元素会作为列表显示。 */

/* 绝对位置: top 距离网页上/右边距: 40px*/
    /* position: absolute;
    top: 40px;
    right: 40px;
    */

/* 只有在checkbox被勾选之后(也就是用户点击之后),动画效果才会开始 */
/* #chk:checked ~ .menu {} */

/* transform 属性向元素应用 2D 或 3D 转换.该属性允许我们对元素进行旋转、缩放、移动或倾斜. 
translate(x, y) 定义 2D 转换. 
translate3d(x, y, z) 定义 3D 转换. 
translateX(x) 定义转换,只是用 X 轴的值. 
translateY(y) 定义转换,只是用 Y 轴的值. 
translateZ(z) 定义 3D 转换,只是用 Z 轴的值. 
scale(x, y) 定义 2D 缩放转换. 
scale3d(x, y, z) 定义 3D 缩放转换. 
scaleX(x) 通过设置 X 轴的值来定义缩放转换. 
scaleY(y) 通过设置 Y 轴的值来定义缩放转换. 
scaleZ(z) 通过设置 Z 轴的值来定义 3D 缩放转换. 
rotate(angle) 定义 2D 旋转,在参数中规定角度. 
rotate3d(x, y, z, angle) 定义 3D 旋转. 
rotateX(angle) 定义沿着 X 轴的 3D 旋转. 
rotateY(angle) 定义沿着 Y 轴的 3D 旋转. 
rotateZ(angle) 定义沿着 Z 轴的 3D 旋转. 
skew(x-angle, y-angle) 定义沿着 X 和 Y 轴的 2D 倾斜转换. 
skewX(angle) 定义沿着 X 轴的 2D 倾斜转换. 
skewY(angle) 定义沿着 Y 轴的 2D 倾斜转换. 
perspective(n)
*/
/* transform: translate3d(0,0,0);
position: relative;
width: 25%; */

/* 1.vw：1vw等于视口宽度的1%. 
2.vh：1vh等于视口高度的1%. 
3.vmin：选取vw和vh中最小的那个. 
4.vmax：选取vw和vh中最大的那个 */
/* height: 100vh;*/

/* overflow: 定义溢出元素内容区的内容会如何处理
visible 默认值.内容不会被修剪,会呈现在元素框之外. 
hidden 内容会被修剪,并且其余内容是不可见的. 
scroll 内容会被修剪,但是浏览器会显示滚动条以便查看其余的内容. 
auto 如果内容被修剪,则浏览器会显示滚动条以便查看其余的内容. 
*/

/* 设置在HTML元素对象前和后(依据对象树的逻辑结构)发生的内容
CSS中有一个特性允许我们添加额外元素而不扰乱文档本身,这就是“伪元素”. */

/* red, green, blue, alpha(不透明度)*/
/* background: rgba(21, 126, 209, 0.85); */

/* opacity 属性设置元素的不透明级别.从 0.0 (完全透明)到 1.0(完全不透明). */

/* transition: property duration timing-function delay;
transition-property 规定设置过渡效果的 CSS 属性的名称. 
    none 没有属性会获得过渡效果. 
    all 所有属性都将获得过渡效果. 
    property 定义应用过渡效果的 CSS 属性名称列表,列表以逗号分隔.
transition-duration 规定完成过渡效果需要多少秒或毫秒. 
    默认值是 0,意味着不会有效果.
transition-timing-function 规定速度效果的速度曲线.  
    linear 规定以相同速度开始至结束的过渡效果(等于 cubic-bezier(0, 0, 1, 1)). 
    ease 规定慢速开始,然后变快,然后慢速结束的过渡效果(cubic-bezier(0.25, 0.1, 0.25, 1)). 
    ease-in 规定以慢速开始的过渡效果(等于 cubic-bezier(0.42, 0, 1, 1)). 
    ease-out 规定以慢速结束的过渡效果(等于 cubic-bezier(0, 0, 0.58, 1)). 
    ease-in-out 规定以慢速开始和结束的过渡效果(等于 cubic-bezier(0.42, 0, 0.58, 1)).
transition-delay 定义过渡效果何时开始.*/
/* transition: opacity 0.5s ease; */

/* linear-gradient(线性渐变)和 radial-gradient(径向渐变)
其共有三个参数,
第一个参数表示线性渐变的方向,top 是从上到下、left 是从左到右,如果定义成 left top,那就是从左上角到右下角.
第二个和第三个参数分别是起点颜色和终点颜色. */
/* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,1) 75%); */

/* !important 表示高优先级. */
/* width: 30% !important; */

/* filter: 改变模糊度 亮度 透明度等方法
grayscale 灰度 值为0-1之间的小数 
sepia 褐色 值为0-1之间的小数 
saturate 饱和度 值为num 
hue-rotate 色相旋转 值为angle 
invert 反色 值为0-1之间的小数 
opacity 透明度 值为0-1之间的小数 
brightness 亮度 值为0-1之间的小数 
contrast 对比度 值为num 
blur 模糊 值为length 
drop-shadow 阴影 */
/* filter: grayscale(0); */

/* rem综合评价是用来做web app它绝对是最合适的人选之一
rem(font size of the root element)是指相对于根元素的字体大小的单位.简单的说它就是一个相对单位.
em(font size of the element)是指相对于父元素的字体大小的单位. */
